#calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    max-width: 80%;
    padding: 10px;
    border-radius: 1vw;
}

#resultBox {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #222;
    height: 100px;
    width: 100%;
    color: white;
    padding: 15px;
}

h1 {
    font-size: 2vw;
    line-height: 10px;
}

#buttons {
    margin-top: 10px;
}

button {
    width: 5vw;
    height: 5vw;
    margin: 10px;
    font-size: 1vw;
}